.text_transform 
{
    display: flex;
    font-size: large;
    position: relative;
    color: blue;
    transition: 1s linear;
}

.text_transform:hover {
    color: red;
    position: relative;
    transition: 1s linear;
}